version: "3.7"
services:
  api:
    image: openpodcast/api:main
    ports:
      - "4000:4000"
    environment:
      DB_CONNECTION_STRING: mysql://openpodcast:password@db:3306/openpodcast
      ACCOUNTS: '{"dummy-cn389ncoiwuencr":0}'
    depends_on:
      - db

  forwarder:
    image: openpodcast/forwarder:master
    ports:
      - "9000:9000"
    environment:
      FORWARDER_API_KEY: ${FORWARDER_API_KEY}
      FORWARDER_BASE_URL: ${FORWARDER_BASE_URL}
    depends_on:
      - api

  spotify-connector:
    image: openpodcast/spotify-connector:main
    environment:
      SPOTIFY_CLIENT_ID: ${SPOTIFY_CLIENT_ID}
      SPOTIFY_CLIENT_SECRET: ${SPOTIFY_CLIENT_SECRET}
    depends_on:
      - api

  apple-connector:
    image: openpodcast/apple-connector:main
    environment:
      APPLE_EMAIL: ${APPLE_EMAIL}
      APPLE_PASSWORD: ${APPLE_PASSWORD}
      APPLE_TEAM_ID: ${APPLE_TEAM_ID}
      APP_SPECIFIC_PASSWORD: ${APP_SPECIFIC_PASSWORD}
    depends_on:
      - api

  apple-automation:
    image: openpodcast/apple-automation:main
    environment:
      APPLE_TEAM_ID: ${APPLE_TEAM_ID}
      APPLE_KEY_ID: ${APPLE_KEY_ID}
      APPLE_KEY: ${APPLE_KEY}

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: openpodcast
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: openpodcast
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql

  analytics:
    image: metabase/metabase:v0.44.6
    ports:
      - "3000:3000"
    environment:
      MB_DB_CONNECTION_URI: mysql://db:3306/metabase?user=metabase&password=metabaseSuperSecret&allowPublicKeyRetrieval=true
    volumes:
      - metabase_data:/metabase-data
    depends_on:
      - db

volumes:
  db_data:
  metabase_data:
